<div class="item-container">
  <span class="page-header">
    <h1>Shopping Cart</h1>
  </span>

  <% if !current_user.shopping_cart.blank? %>
    <% @current_user.shopping_cart.each do |item| %>
    <div class="individual-item-index">
      <%= link_to item.name, item_path(item) %>
      <% if !item.image.blank? %>
          <img src="<%= item.image %>" height="100" width="100">
      <% else %>
        <img src="https://static.orpi.com/image-not-found.png" width="100" height="100">
      <%end%>
    </div>
    <% end %>
  <% else %>
    Shopping Cart is currently empty!  Go add some items!
  <% end %>

  <!-- This code isn't final.  I need to add logic for an order having multiple items, name, etc -->
  <% if  !current_user.orders.blank? %>
    <% current_user.orders.each do |order| %>
    <!-- Here you should apply code that will Display the name of the order, clickable link for order details etc -->
      order.user_id
    <% end %>
  <% end %>
</div>