<div class='form-container'>
  <div class="individual-form">
    <h1>Register New User</h1>

    <%= render 'form', item: @user %>

    <p>Already have a profile?  <%= link_to 'Login here!', login_path%></p>
  </div>
</div>