This is where each individual user profile info will go.  Will have to make it so that users can only see their own profile.

<p> Username: <%= @user.username%></p>
<p> Email: <%= @user.email%></p>
<p> Password: <%= @user.password%></p>