<div class="user-container">
  <div class="individual-user">
    <p>This is where each individual user profile info will go.</p>

    <p><%= link_to "Edit", edit_user_path %> | <%= link_to "Delete", @user, method: :delete %></p>

    <p> Username: <%= @user.username%></p>
    <p> Email: <%= @user.email%></p>
  </div>
</div>