<% current_user %>
<% if !@current_user.shopping_cart.blank? %>
  <p><%= @current_user.shopping_cart.each do |item| %></p>
    <%= item %>
  <% end %>
<% else %>
  Shopping Cart is currently empty!  Go add some items!

<% end %>

<!-- This code isn't final.  I need to add logic for an order having multiple items, name, etc -->
<% if  !current_user.orders.blank? %>
  <% current_user.orders.each do |order| %>
  <!-- Here you should apply code that will Display the name of the order, clickable link for order details etc -->
    order.user_id
  <% end %>
<% end %>