<div class="item-container">
  <span class="page-header"><h1>Items In Stock</h1><p><%= link_to "CATEGORIES", categories_path %></p></span>



  <% @items.each do |item| %>
    <div class="individual-item">
      <%= link_to item.name, item_path(item) %>
      <img src="<%= item.image %>" height="100" width="100">
      <!-- <%= link_to image_tag(item.image), item_path(item) %> -->
    </div>
  <% end %>
</div>