// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.item-container{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  height: 90%;
}

.individual-item{
  display: flex;
  flex-direction: column;
  margin: 2% 5%;
  border: 1px black solid;
}

.item-show{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  height: 90%;
}

#description{
  display: flex;
  flex-direction: column;
  justify-content: center;
}