// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.item-container{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  height: 90%;
}

.item-show{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  height: 100%;
}

.individual-item-show{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 5%;
  padding: 1%;
  border: 1px black solid;
  border-radius: 10%;
  background-color: rgba(60, 144, 144, .5);
}

.individual-item-index{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 5%;
  padding: 1%;
  border: 1px black solid;
  border-radius: 10%;
  background-color: rgba(60, 144, 144, .5);
  width: 10%;
  max-height: 30%
}

#description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  list-style: none;
}