<h2>This is where your edit category form will go</h2>

<div class="form-container">
  <div class="individual-form">
  <h1>Edit Category</h1>

    <%= render 'form', category: @category %>
  </div>
</div>