<h2>This is where new category form will go.</h2>

<div class="form-container">
  <div class="individual-form">
  <h1>Create New Category</h1>

    <%= render 'form', category: @category %>
  </div>
</div>