<h1><%=@category.name.capitalize%></h1>

<!--  
<%=@category.product_id%>
<% if !@category.product_id.blank? %>
  <% @category.product_id.each do |product_id|%>
    <p><%= product_id %></p>
  <% end %>
<% end %>
-->